<div class="tab-bar">
  <button class="tab-item" data-action="click->pixeldex#switchTab" data-pixeldex-target="tabButton" data-tab="party">PARTY</button>
  <button class="tab-item active" data-action="click->pixeldex#switchTab" data-pixeldex-target="tabButton" data-tab="pcbox">PC BOX</button>
  <button class="tab-item" data-action="click->pixeldex#switchTab" data-pixeldex-target="tabButton" data-tab="map">MAP</button>
  <button class="tab-item" data-action="click->pixeldex#switchTab" data-pixeldex-target="tabButton" data-tab="gyms">GYMS</button>
  <button class="tab-item" data-action="click->pixeldex#switchTab" data-pixeldex-target="tabButton" data-tab="strategy">STRATEGY</button>
  <button class="tab-item" data-action="click->pixeldex#switchTab" data-pixeldex-target="tabButton" data-tab="runs">RUNS</button>
</div>
